<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/partials :: head">
    <title>Edit</title>
<body>
<nav th:replace="partials/partials :: navbar"></nav>

<div class="container">
    <h2 class="alert-danger">Edit Post</h2>
    <form th:action="@{'/posts/'+${post.id}+'/edit'}" method="post">
        <label class="post-title" for="title">Title: </label>
        <br>
        <input type="text" name="title" id="title" class="field" th:value="${post.title}"/>
        <br><br>
        <label class="post-body" for="body">Description:</label>
        <br>
        <textarea type="text" name="body" id="body" class="field" rows="4" cols="50"
                  th:text="${post.body}"></textarea><br>
        <label class="post-body" for="type">Type:</label>
        <br>
        <textarea type="text" name="type" id="type" class="field" th:text="${post.type}"></textarea><br>
        <button>Save Changes</button>
    </form>
</div>

<nav th:replace="partials/partials :: footer"></nav>

</body>
</html>