<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/partials :: head">
    <title>Index</title>
<body>
<body>
<nav th:replace="/partials/partials :: header"></nav>

<nav th:replace="partials/partials :: navbar"></nav>

<div class="container">
    <h2 class="subheader">Ad List</h2>
    <div th:each="ad : ${ads}">
        <p style="font-weight: bold;" th:text="${ad.title}"></p>
        <p style="padding-left: 2rem;" th:text="${ad.description}"></p>
    </div>
</div>

<nav th:replace="partials/partials :: footer"></nav>

</body>
</html>