<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/partials :: head">
    <title>Show Ad</title>
<body>
<body>
<nav th:replace="partials/partials :: navbar"></nav>

<form th:action="@{/ads/create}" th:method="post" th:object="${ad}">
    <input type="hidden" th:field="*{id}" />
    Title:
    <input th:field="*{title}" />
    <br/>
    Description:
    <input th:field="*{description}" />
    <br/>
    <input type="submit" />
</form>

<nav th:replace="partials/partials :: footer"></nav>

</body>
</html>