<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<title>Home</title>
<head th:fragment="head">
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- include stylesheets, etc here -->
    <link href="../static/css/bootstrap.css.html" rel="stylesheet" th:href="@{/css/bootstrap.css.html}"/>
    <link rel="stylesheet" th:href="@{/css/main.css}"/>

    <link th:href="@{/css/dice-roll.css}" rel="stylesheet"/>
</head>
<body>

<h1 th:fragment="header" class="header">THE BLOG</h1>
<nav th:fragment="navbar" class="navbar navbar-default">
    <ul class="nav navbar-nav">
        <li><a href="/home">Home</a></li>
        <li><a href="/hello/Fortuna">Hello</a></li>
        <li><a href="/join">Join</a></li>
        <li><a href="/welcome">Welcome</a></li>
        <li><a href="/posts">Posts</a></li>
        <li><a href="/roll-dice">Roll'a'Die</a></li>
        <li><a href="/login">Login</a></li>
        <li><a href="/register"><form th:action="@{/register}" th:method="post">Register</form></a></li>
        <li><form th:action="@{/logout}" th:method="post"><button class="btn-link btn" style="margin-top: 8px">Logout</button>
            </form></li>
    </ul>
</nav>

<standard_scripts th:fragment="footer">
</standard_scripts>
</body>
</html>