<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/partials :: head">
    <title>Join</title>

<body>
<nav th:replace="/partials/partials :: header"></nav>

<nav th:replace="partials/partials :: navbar"></nav>

<br>
<div class="container">
    <div class="alert" th:if="${cohort == null}">
        <br>
        <h2 class="subheader">Something bad happened!</h2>
        <br>
    </div>

    <div class="welcome" th:unless="${cohort == null}">
        <h1 th:text="${cohort}"></h1>
    </div>
    <br>
    <form action="/join" method="post">
        <input type="text" name="cohort" id="cohort-ip" class="field"/>
        <br>
        <button>Join now</button>
        <br>
    </form>
</div>

<nav th:replace="partials/partials :: footer"></nav>

</body>
</html>